.map-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.mid-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12vh;
    padding: 0;
}
.mid-title a {
    text-decoration: none;
    color: black;
    border-radius: 1.2em;
    border: 1px;
    padding: 30px;
    background-color: white;
    font-size: 20px;
    margin-top: 50px;
}

.mid-title a:hover {
    color: white;
    background-color: black;
    transition: background-color .4s;
}

.overview-style {
    border: 1px dotted black;
    border-radius: 1.2rem;
    margin-top: 5vh;
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #8B4513
}

#home-button {
    position: absolute;
    left: 5vw;
    top: 2vh;
}